<div style='width: 800px;'>
  <div id="map" style='width: 1200px; height: 600px;'></div>
</div>


<script type="text/javascript">
  var lat = <%= @user.latitude %>;
  var lng = <%= @user.longitude %>;
  var name = "<%= @user.username %>"

  handler = Gmaps.build('Google');

  user_location = { title: name, lat: lat, lng: lng }

  markerArray = JSON.parse(<%= @trucks %>);

  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers( markerArray );

    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
