<div style='width: 800px;'>
  <div id="map" style='width: 1200px; height: 600px;'></div>
</div>


<script type="text/javascript">
  var lat = <%= @user.latitude || 0 %>;
  var lng = <%= @user.longitude || 0 %>;

  handler = Gmaps.build('Google');

  markerArray = JSON.parse(<%= @trucks %>);

  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers( markerArray );

    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
